/* Variable */
$primary-color: #014652;
$white-color: #efefef;
$logo-color: #08B9B8;
$nav-height: 55px;

/* Mixins */

@mixin transform-slide($time) {
  transition: all $time ease-in-out;
}

/* Base */
html {
  font-size: 1rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  background: url("./media/img/body-bockground.svg"), $primary-color;
  color: $white-color;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

button {
  color: $primary-color;
}

.container {
  padding: 10px 10px;
  margin: 0;

}

.section-title {
  font-size: 2rem;
  margin: 0 auto;
}