/* Variable */
$primary-color: #014652;
$white-color: white;

/* Mixins */

@mixin transform-slide($time) {
  transition: all $time ease-in-out;
}

/* Base */
html {
  font-size: 1rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  background: url("./media/img/body-bockground.svg"), linear-gradient($primary-color, white);

  background-repeat: no-repeat;
  background-size:cover;
  background-position: center top;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}