@import "../../config";

#buscar {
  margin-top: $nav-height;
  display: flex;
  flex-direction: column;
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 10px;
  }
  .instrument-selection-wrapper {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}